html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }

footer {
    flex-shrink: 0;
    color: white;
    background-color: #f4f4f4;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    padding: 10px 0;
}


header {
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #f4f4f4;
    font-family: 'Dosis', sans-serif;
}